* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.menu {
  width: 150px;
  background: black;
  margin: 30px auto;
}

.menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.menu ul {
  background: rgb(4, 84, 56);
  display: none;
}
.menu ul.open {
  display: block;
}
